@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: local("Inter"),
         url(/fonts/Inter-roman.var.woff2) format("woff2 supports variations"),
         url(/fonts/Inter-roman.var.woff2) format("woff2-variations");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
         url(/fonts/Poppins-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    @apply bg-gray-100 overflow-y-scroll
}

.faq a {
    @apply text-blue-700 border-b-2 border-blue-700 hover:bg-indigo-50 font-medium
}

.course-desc a {
    @apply text-blue-700 border-b-2 border-blue-700 hover:bg-indigo-50 font-medium
}

#instructors a {
    @apply text-blue-700 border-b-2 border-blue-700 hover:bg-indigo-50 font-medium
}
